html, body {
height: 100%;
width: 100%;
background-image: linear-gradient(to bottom right, rgb(60, 60, 187), rgb(52, 52, 52));
font-family: 'Trebuchet MS';
}
#main-nav {
    background: white;
    background-repeat: no-repeat;
}
.nav-item:hover {
    background: rgb(212, 212, 212);
    transition: 0.25s;
}
.nav-item {
    transition: 0.25s;
}

